body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
   
}

.ql-editor {
    min-height: 150px;
    background: white;
}

p {
    margin: 0;
    padding: 0;
}

.test__setup {
    color: $brightOrange;
}

.app {
    display: grid;
    place-items: center;
}