.card__component {
    display: flex;
    margin: 40px;

    @include for-tablet-down {
        flex-direction: row;
        margin-top: 150px;
    }

    @include for-phone-only {
        flex-direction: column;
    }
}

.card {
    max-width: 327px;
    height: 442px;

    @include for-tablet-down {
        max-width: 307px;
        height: 500px;
    }

    @include for-phone-only {
        max-width: 327px;
        height: 442px;
    }
}

.sedan__card {
    background-color: $brightOrange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @include for-tablet-down {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
    }

    @include for-phone-only {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }


}

.contents {
    margin: 40px;

    & h2 {
        text-transform: uppercase;
        color: $veryLightGray;
        font-size: 40px;
        font-weight: 700;
        font-family: $bigShouldersDisplay;
    }

    & p {
        width: 220px;
        color: $transparentWhite;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        font-family: $lexendDeca;
        word-spacing: 2px;
    }

    & button {
        margin-top: 20px;
        width: 140px;
        height: 48px;
        border-radius: 50px;
        border: transparent;
        font-family: $lexendDeca;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            border: 1px solid white;
        }
    }
}

.sedan__button {
    color: $brightOrange;

    &:hover {
        color: white;
    }

}

.suv__card {
    background-color: $darkCyan;
}

.suv__button {
    color: $darkCyan;

    &:hover {
        color: white;
    }

}

.luxury__card {
    background-color: $veryDarkCyan;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    @include for-tablet-down {
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }


    @include for-phone-only {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
    }
}

.luxury__button {
    color: $veryDarkCyan;

    &:hover {
        color: white;
    }
}