<template>
    <div class="card">
        <div class="contents">
            <i>
                <slot name="icon"></slot>
            </i>
            <h2 class=" text-blue-800">
                <slot name="heading"></slot>
            </h2>
            <p>
                <slot></slot>
            </p>
            <button>
                <slot name="button"></slot>
            </button>
        </div>
    </div>
</template>