<script setup>
import CardItem from './CardItem.vue';
import LuxuryIcon from './icons/IconLuxury.vue';
import SedanIcon from './icons/IconSedan.vue';
import SuvIcon from './icons/IconSuv.vue'
</script>
<template>
   <div class="card__component">
      <CardItem class="sedan__card">
         <template #icon>
            <SedanIcon />
         </template>
         <template #heading>
            Sedans
         </template>
         Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city
         or on your next road trip.

         <template #button>
            <div class="sedan__button">
               Learn More
            </div>
         </template>
      </CardItem>
      <CardItem class="suv__card">
         <template #icon>
            <SuvIcon />
         </template>
         <template #heading>
            SUV
         </template>
         Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation
         and off-road adventures.

         <template #button>
            <div class="suv__button">
               Learn More
            </div>
         </template>
      </CardItem>
      <CardItem class="luxury__card">
         <template #icon>
            <LuxuryIcon />
         </template>
         <template #heading>
            Luxury
         </template>
         Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury 
  rental and arrive in style.

         <template #button>
            <div class="luxury__button">
               Learn More
            </div>
         </template>
      </CardItem>
   </div>
</template>