<script setup>
import CardComponent from './components/CardComponent.vue';
</script>

<template>
    <div class="app">
        <CardComponent />
    </div>

</template>

<style lang="scss">
@import '@/assets/scss/style.scss';
</style>
